.post-form-wrapper {
  color: var(--main-right-text-color);
  padding: 15px;
  margin: 0;
  height: auto;
  border-radius: 3px;
  background-color: var(--main-right-background-color);
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-form-el {
  margin: 5px;
  width: 90%;
}